*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* INDEX */
.header{
    width: 100%;
    height: 50px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); /* sombra con difuminado */
}

.barra-buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    width: 100%;
    height: 50px;
}

.barra-buscador input{
    width: 50%;
    height: 35px;
    border-radius: 30px 0px 0px 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding-left: 15px;
    outline: none;
    border: none;
}

.barra-buscador input:focus{
    transition: .5s;
    border: 1px solid #66BB6A;
    border-right: none;
}

.buscador::placeholder{
    font-size: 12px;
}

.btn-buscar{
    height: 35px;
    width: 90px;
    border: none;
    border-radius: 0px 30px 30px 0px;
    font-weight: 700;
    font-size: 12px;
    background-color: #66BB6A;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.bi-search{
    font-size: 12px;
    color: white;
    padding: 5px;
}

h2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 30px;
    font-weight: 500;
}

.header ul{
    height: 100%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    font-size: 11px;
}

.header li{
    margin: 10px;
    cursor: pointer;
}
.header li a{
    color: inherit;
    text-decoration: none;
}

.header li:last-child{
    margin-right: 15%;
}

.header li:hover{
    transition: 0.2s;
    color: #66BB6A;
    border-bottom: .5px solid #66BB6A;
}

.header li:last-child:hover {
    transition: none;
    color: inherit; 
    border-bottom: none; 
}

.btn-empezar{
    padding: 10px;
    color: white;
    background-color: #66BB6A;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    border-radius: 4px;
}

.comidas{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto;
}

.comida-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70px;
    width: 70px;
    padding: 20px;
    margin: 20px;
    cursor: pointer;
}

.comida-item:hover{
    background-color: #F5F5F5;
    border-radius: 5px;
}

.comida-item p{
    margin-top: 10px;
    font-size: 12px;
}

.footer {
    background-color: #333333;
    color: white;
    text-align: left;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    padding: 10px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    list-style: none;
    padding: 0;
}

.social-icons li {
    margin-right: 10px;
}

.social-icons li a {
    color: white;
    font-size: 24px;
}

.div-comida {
    font-size: 13px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #E0E0E0;
}

.div-comida p:last-child {
    margin-left: auto;
}

/* RECETAS */
.container-recetas{
    width: 83%;
    height: 250px;
    border-radius: 20px;
    margin: 40px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.opciones-receta{
    width: 120px;
    height: 120px;
    border-radius: 20px;
    margin: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    color: #66BB6A;
}

.opciones-receta:hover{
    background-color: #EDEDED;
    transition: .3s;
}

.opciones-receta i{
    display: flex;
    align-items: center;
    font-size: 60px;
}

.receta{
    width: 150px;
    height: 210px;
    margin: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.receta:hover{
    background-color: #EDEDED;
    transition: .3s;
}

.receta img{
    max-width: 100%;
    border-radius: 20px 20px 0 0;
}

.receta-nombre{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.receta-desc{
    margin: 5px 10px 5px 10px;
    font-size: 10px;
    color: #A8A8A8;
    text-align: center;
}

.receta-calorias{
    font-size: 10px;
    color: grey;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 10px 5px 5px 0;
}

.bi-chevron-right{
    font-size: 45px !important;
}
